<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Othello techcrunch disrupt : Othello over google hangout for disrupt hackathon" />
    
    <script src="//talkgadget.google.com/hangouts/_/api/hangout.js?v=1.1"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="http://raycwang.com/Othello_techcrunch_disrupt/stylesheets/stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>Othello techcrunch disrupt</title>
    
    <style>
    	#connect_four { width: 550px; color: #fff; margin: 0px auto; margin-top: 20px; }
    	#connect_four td { border: 3px solid #fff; text-align: center; padding: 0px;}
    	#connect_four .clickable { cursor: pointer }
    	body { background: url('images/purty_wood.png') }
    	.player {
	    	display: block;
			width: 200px;
			background-color: 
			rgba(0, 0, 0, 0.5);
			height: 200px;
			position: absolute;
			top: 20px;
			border-radius: 7px;
			padding: 0px 5px;
			color: #fff;
		}
		#player_x { left: 10%; }
		#player_o { right: 10%;  }
		p { margin-top: 0px; color: #fff; text-align: center }
    </style>
  	
  	<script src="http://raycwang.com/Othello_techcrunch_disrupt/spine/spine.js"></script> 
	<script src="http://raycwang.com/Othello_techcrunch_disrupt/game/app.js"></script>  
  </head>
  <body>
	<div class="centered">
		<table id="connect_four"></table>	
		<div id="player_x" class="player">
			<h2 style="color: white; text-align: center; font-family: Helvetica; font-size: 24px">Ray Wang</h2>
			<p>Currently Playing Red</p>
		</div>
		
		<div id="player_o" class="player">
			<h2 style="color: white; text-align: center; font-family: Helvetica; font-size: 24px">No Opponent</h2>
			<p>Currently Playing Blue</p>
		</div>
	</div>
  </body>
</html>  	
  	
]]></Content>
</Module>
